.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 40px;

  padding: 10px;

  background-color: red;

  &__container {
    display: flex;
    align-items: center;
    gap: 15px;

    &_left {
    }
    &_right {
    }
  }
}
